{% extends "layout.html" %}

{% block title %} {{ panel_name }} configuration {% endblock %}

{% block content %}

    <h2>configuration: {{ panel_name }}</h2>
    <h4>loaded from: {{ config_file }}</h4>

    <form action="{{ url_for('configure', panel=panel_name) }}" method="POST">

        {% for key, setting in config_params.items() %}
            <label for="{{ key }}">{{ setting["label"] }}:</label>
            {% if setting["type"] == "dropdown" %}
                <select name="{{ key }}" id="{{ key }}">
                    {% for value in setting["values"] %}
                        <option value="{{ value }}" {% if value == setting["set_to"] %}selected{% endif %}>
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
            {% elif setting["type"] == "serial_port" %}
                <div class="serial-group">
                    <select class="serial_port" name="{{ key }}" id="{{ key }}">
                        {% for value in setting["values"] %}
                            <option value="{{ value }}" {% if value == setting["set_to"] %}selected{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="button"  class="refresh_serial" style="margin-left: 5px;">🔄</button>
                    <br>
                    <span>baud rate: </span>
                    <select name="{{ key }}_baudrate" id="{{ key }}_baudrate">
                            <option value="9600" {% if setting["baud_rate"] == 9600 %}selected{% endif %}>9600</option>
                            <option value="57600" {% if setting["baud_rate"] == 57600 %}selected{% endif %}>57600</option>
                            <option value="115200" {% if setting["baud_rate"] == 115200 %}selected{% endif %}>115200</option>
                    </select>
                    <br>
                    <span>timeout: </span><input type="number" name="{{ key }}_timeout" id="{{ key }}_timeout" value="{{ setting["timeout"] }}">

                </div>

            {% elif setting["type"] == "kasa_plug" %} <!-- kasa_plug plugin -->
                <div class="kasa-plug-group">
                    <select name="{{ key }}" id="{{ key }}" class="kasa_plug">

                        {% for value in setting["values"] %}
                            <option value="{{ value }}" {% if value == setting["set_to"] %}selected{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="button"  class="refresh_kasa_plug" style="margin-left: 5px;">🔄</button>
                    
                    <button type="button" class="set_schedule"
                        onclick="window.location.href='{{ url_for('set_schedule', config_file=config_file, key=key) }}'"
                        style="margin-left: 5px;">Set Schedule</button>
                    
                    <input type="checkbox" name="{{ key }}_auto" id="{{ key }}_auto" {% if setting["auto_enabled"] %}checked{% endif %}><span>auto mode</span> 
                </div>
            {% elif setting["type"] == "number" %}
                <input type="number" name="{{ key }}" id="{{ key }}" value="{{ setting["set_to"] }}">
            {% elif setting["type"] == "text" %}
                <input type="text" name="{{ key }}" id="{{ key }}" value="{{ setting["set_to"] }}">
            {% endif %}
            <span style="margin-left: 10px; color: gray;">{{ setting["set_to"] }}</span>
            <br>
        {% endfor %}
            


        <button type="submit">Save Configuration</button>
    </form>


{% endblock %}