{% extends "layout.html" %}

{% block title %} {{ panel_name }} configuration {% endblock %}

{% block content %}

    <h2>configuration: {{ panel_name }}</h2>
    <h4>loaded from: {{ config_file }}</h4>

    <form action="{{ url_for('configure', panel=panel_name) }}" method="POST">

        {% for key, setting in config_params.items() %}
            <label for="{{ key }}">{{ setting["label"] }}:</label>
            {% if setting["type"] == "dropdown" %}
                <select name="{{ key }}" id="{{ key }}">
                    {% for value in setting["values"] %}
                        <option value="{{ value }}" {% if value == setting["set_to"] %}selected{% endif %}>
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
            {% elif setting["type"] == "serial_port" %}
                <div class="serial-group">
                    <span style="margin-left: 10px; color: gray;">{{ setting["set_to"] }}</span>
                    <select class="serial_port" name="{{ key }}" id="{{ key }}" data-selected="{{ setting['set_to'] }}">
                        {% for value in setting["values"] %}
                            <option value="{{ value }}" {% if value == setting["set_to"] %}selected{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="button"  class="refresh_serial" style="margin-left: 5px;">🔄</button>
                    <br>
                    <span>baud rate: </span>
                    <select name="{{ key }}_baudrate" id="{{ key }}_baudrate">
                            <option value="9600" {% if setting["baud_rate"] == 9600 %}selected{% endif %}>9600</option>
                            <option value="57600" {% if setting["baud_rate"] == 57600 %}selected{% endif %}>57600</option>
                            <option value="115200" {% if setting["baud_rate"] == 115200 %}selected{% endif %}>115200</option>
                    </select>
                    <br>
                    <span>timeout: </span><input type="number" name="{{ key }}_timeout" id="{{ key }}_timeout" value="{{ setting["timeout"] }}">
                    <br>
                    <span>polling rate: </span><input type="text" name="{{ key }}_poll" id="{{ key }}_poll" value="{{ setting["poll_rate"] }}">


                </div>

            {% elif setting["type"] == "kasa_plug" %} <!-- kasa_plug plugin -->
                <div class="kasa-plug-group">
                    <span style="margin-left: 10px; color: gray;">{{ setting["set_to"] }}</span>
                    <select name="{{ key }}" id="{{ key }}" class="kasa_plug" data-selected="{{ setting['set_to'] }}">

                        {% for value in setting["values"] %}
                            <option value="{{ value }}" {% if value == setting["set_to"] %}selected{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="button"  class="refresh_kasa_plug" style="margin-left: 5px;">🔄</button>
                    
                    <button type="button" class="set_schedule"
                        onclick="window.location.href='{{ url_for('set_schedule', config_file=config_file, key=key) }}'"
                        style="margin-left: 5px;">Set Schedule</button>
                    
                    <input type="checkbox" name="{{ key }}_auto" id="{{ key }}_auto" {% if setting["auto_enabled"] %}checked{% endif %}><span>auto mode</span> 
                </div>
            {% elif setting["type"] == "number" %}
                <div>
                    <input type="number" name="{{ key }}" id="{{ key }}" value="{{ setting["set_to"] }}">
                </div>
            {% elif setting["type"] == "text" %}
                <div>
                    <input type="text" name="{{ key }}" id="{{ key }}" value="{{ setting["set_to"] }}">
                </div>

            {% elif setting["type"] == "linear_gantry_config" %}
                <div class="linear-gantry-group">
                    <!-- <span>associated serial Device: </span><input type="number" name="{{ key }}_extent_cm" id="{{ key }}_extent_cm" value="{{ setting["extent_cm"] }}"> -->
                    
                    <span>Associated Serial Device: </span>
                    <select class="serial_device" name="{{ key }}_associated_serial_device" id="{{ key }}_associated_serial_device" data-selected="{{ setting['associated_serial_device'] }}">
                        {% for k, v in config_params.items() %}
                            {%if v["type"] == "serial_port"%}
                            <option value="{{ k }}" {% if value == setting["associated_serial_device"] %}selected{% endif %}>
                                {{ k }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>

                    <span>Frame limits (mm): </span>
                    <br>
                    <span>x limit: </span><input type="text" name="{{ key }}_frame_limit_mm_x" id="{{ key }}_frame_limit_mm_x" value="{{ setting["frame_limits_mm"]["x"] }}">
                    <span>y limit: </span><input type="text" name="{{ key }}_frame_limit_mm_y" id="{{ key }}_frame_limit_mm_y" value="{{ setting["frame_limits_mm"]["y"] }}">
                    <span>z limit: </span><input type="text" name="{{ key }}_frame_limit_mm_z" id="{{ key }}_frame_limit_mm_z" value="{{ setting["frame_limits_mm"]["z"] }}"> 
                    <br>

                    <span>Motor rotation configuration (mm/rev): </span>
                    <br>
                    <span>x limit: </span><input type="text" name="{{ key }}_mm_per_rev_x" id="{{ key }}_mm_per_rev_x" value="{{ setting["mm_per_rev"]["x"] }}">
                    <span>y limit: </span><input type="text" name="{{ key }}_mm_per_rev_y" id="{{ key }}_mm_per_rev_y" value="{{ setting["mm_per_rev"]["y"] }}">
                    <span>z limit: </span><input type="text" name="{{ key }}_mm_per_rev_z" id="{{ key }}_mm_per_rev_z" value="{{ setting["mm_per_rev"]["z"] }}">
                    <br>

                    <span>Direction towards home: </span>
                    <br>
                    <span style="margin-left: 10px; color: gray;">x: {{ "+" if setting["home_direction"]["x"] == 1 else "-" if setting["home_direction"]["x"] == -1 else "" }}</span>
                    <select class="home-direction" name="{{ key }}_home_direction_x" id="{{ key }}_home_direction_x" data-selected="{{ setting['home_direction']["x"] }}">
                        <option value=1 {% if setting["home_direction"]["x"] == 1 %}selected{% endif %}>
                                +
                        </option>
                        <option value=-1 {% if setting["home_direction"]["x"] == -1 %}selected{% endif %}>
                                -
                        </option>
                    </select>
                    
                    <!-- <br> -->
                    <span style="margin-left: 10px; color: gray;">y: {{ "+" if setting["home_direction"]["y"] == 1 else "-" if setting["home_direction"]["y"] == -1 else "" }}</span>
                    <select class="home-direction" name="{{ key }}_home_direction_y" id="{{ key }}_home_direction_y" data-selected="{{ setting['home_direction']["y"] }}">
                        <option value=1 {% if setting["home_direction"]["y"] == 1 %}selected{% endif %}>
                                +
                        </option>
                        <option value=-1 {% if setting["home_direction"]["y"] == -1 %}selected{% endif %}>
                                -
                        </option>
                    </select>

                    <!-- <br> -->
                    <span style="margin-left: 10px; color: gray;">z: {{ "+" if setting["home_direction"]["z"] == 1 else "-" if setting["home_direction"]["z"] == -1 else "" }}</span>
                    <select class="home-direction" name="{{ key }}_home_direction_z" id="{{ key }}_home_direction_z" data-selected="{{ setting['home_direction']["z"] }}">
                        <option value=1 {% if setting["home_direction"]["z"] == 1 %}selected{% endif %}>
                                +
                        </option>
                        <option value=-1 {% if setting["home_direction"]["z"] == -1 %}selected{% endif %}>
                                -
                        </option>
                    </select>
                    <br>

                    <span>default home position (mm): </span>
                    <br>
                    <span>x: </span><input type="text" name="{{ key }}_default_home_pose_x" id="{{ key }}_default_home_pose_x" value="{{ setting["default_home_pose"]["x"] }}">
                    <span>y: </span><input type="text" name="{{ key }}_default_home_pose_y" id="{{ key }}_default_home_pose_y" value="{{ setting["default_home_pose"]["y"] }}">
                    <span>z: </span><input type="text" name="{{ key }}_default_home_pose_z" id="{{ key }}_default_home_pose_z" value="{{ setting["default_home_pose"]["z"] }}">
                    <br>

                    <span>Max Linear velocity (mm/s): </span>
                    <input type="text" name="{{ key }}_max_linear_vel" id="{{ key }}_max_linear_vel" value="{{ setting["max_linear_vel"] }}">

                    <br>
 

                </div>




            {% endif %}

            
            <br>
        {% endfor %}
            


        <button type="submit">Save Configuration</button>
    </form>


{% endblock %}