{% extends "layout.html" %}

{% block title %}CHIP-Interface-Home{% endblock %}

{% block content %}
    <h2>Welcome to the Home Page</h2>
    
    <div class="panel-container">

    <!-- Include the panel content -->
    <!-- Loop over the panels and create multiple dynamically -->
    {% for panel_name, panel_data in panels.items() %}
        {% with panel_title=panel_name, panel_text=panel_data["description"]["set_to"], panel_width=panel_data["width"]["set_to"], panel_height=panel_data["height"]["set_to"], panel_template=panel_data["template"]["set_to"], panel_config=config_params[panel_name]  %}
            {% include "panel.html" %}
        {% endwith %}
    {% endfor %} 

    </div>

{% endblock %}