<style>
  .sensor-container {
    background: #f0f0f0;
    padding: 1em;
    border-radius: 8px;
    width: fit-content;
    font-family: monospace;
    margin: 0 auto;  /* Center horizontally */
    text-align: left;    
  }

  .sensor-line {
    margin: 5px 0;
  }

  .timestamp {
    margin: 5px 0;
    text-align: center;
  }

  #nds_controls {
    background: #f0f0f0;
    padding: 1em;
    border-radius: 8px;
    width: fit-content;
    font-family: monospace;
    margin: 0 auto;  /* Center horizontally */
    text-align: left;    
  }

  .connection_status {
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .connected {
    color: green;
  }

  .disconnected {
    color: orange;
  }

  .kasa-toggle-plug:hover {
      opacity: 0.85;
  }
  
  .kasa-toggle-plug.on {
    background-color: #4CAF50;   /* Green */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
  }

  .kasa-toggle-plug.off {
      background-color: #f44336;   /* Red */
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
  }



</style>

<h3>Monitor</h3>

{% for key, params in panel_config.items() %}
  {% if params["type"] == "serial_port" and params["set_to"] != "" %}
    <span>{{ params["label"]}}</span>
      <br>
    <div id="{{ key }}_status"></div>
    <div id="{{ key }}_sensors" class="sensor-container">Waiting for data...</div>

  {% endif %}
{% endfor %}

<br>


<h3>Controls</h3>
<div id="nds_controls">
  {% for key, params in panel_config.items() %}
    {% if params["type"] == "kasa_plug" and params["set_to"] != "" %}
      
      <div class="kasa-plug-control" data-schedule='{{ params["schedule"] | tojson }}' >
        {{ params["label"] }} <span>({{ params["type"] }})</span>
        <br>     
        <button class="kasa-toggle-plug" 
                data-ip="{{ params["set_to"] }}" 
                data-device="{{ key }}" >Loading...</button> 
        {% if params["auto_enabled"] %} 
          <span><strong>(Auto mode)</strong></span>
          <div class="next-schedule"></div>  
        {% endif %}
      </div>

      <br>


    {% endif %}
  {% endfor %}
</div>
