<style>
  #nds_sensors {
    background: #f0f0f0;
    padding: 1em;
    border-radius: 8px;
    width: fit-content;
    font-family: monospace;
    margin: 0 auto;  /* Center horizontally */
    text-align: left;    
  }
  .sensor-line {
    margin: 5px 0;
  }
  .timestamp {
    margin: 5px 0;
    text-align: center;
  }

  #nds_controls {
    background: #f0f0f0;
    padding: 1em;
    border-radius: 8px;
    width: fit-content;
    font-family: monospace;
    margin: 0 auto;  /* Center horizontally */
    text-align: left;    
  }

  #connection_status {
    font-weight: bold;
    transition: color 0.3s ease;
}

.connected {
    color: green;
}

.disconnected {
    color: orange;
}
</style>


<h3>Monitor</h3>
<div id="connection_status"></div>
<div id="nds_sensors">Waiting for data...</div>
<br>


<h3>Controls</h3>
<div id="nds_controls">
  {% for key, params in panel_config.items() %}
    {% if params["type"] == "kasa_plug" and params["set_to"] != "" %}
      
      <div class="kasa-plug-control">
        {{ params["label"] }} <span>({{ params["type"] }})</span>
        <br>
        
        <button class="kasa-toggle-plug" data-ip="{{ params["set_to"] }}">Toggle</button> 
        {% if params["auto_enabled"] %} <span><strong>(Auto mode)</strong></span> {% endif %}
      </div>

      <br>


    {% endif %}
  {% endfor %}
</div>
