<div class="panel", style="width: {{ panel_width }}px; height: {{ panel_height }}px;">
    <!-- Settings Button inside Panel -->
    <div class="settings-menu">
        <div class="settings-btn">⋮</div>
        <div class="settings-dropdown">
            <a href="{{ url_for('configure', panel=panel_title) }}">⚙ Configuration</a>
        </div>
    </div>

    <h2>{{ panel_title }}</h2>
    <p>{{ panel_text }}</p>
    {% with panel_config = panel_config  %}
        {% include panel_template %}
    {% endwith %}

</div>
