{% extends "layout.html" %}

{% block title %} Settings {% endblock %}

{% block content %}

<h1> Settings </h1>

<h2> Panels </h2>

{% for panel, settings in panels.items() %}

<h3>{{ panel }} Panel</h3>

<form action="{{ url_for('settings') }}" method="POST">
<input type="hidden" name="panel_name" value="{{ panel }}">

{% for key, setting in settings.items() %}

<label for="{{ panel }}_{{ key }}">{{ setting["label"] }}:</label>
    {% if setting["type"] == "dropdown" %}
        <select name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}">
            {% for value in setting["values"] %}
                <option value="{{ value }}" {% if value == setting["set_to"] %}selected{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
    {% elif setting["type"] == "number" %}
        <input type="number" name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}" value="{{ setting["set_to"] }}">
    {% elif setting["type"] == "text" %}
        <input type="text" name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}" value="{{ setting["set_to"] }}">
    {% elif setting["type"] == "longtext" %}
        <textarea name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}" rows="3" cols="60">{{ setting["set_to"] }}</textarea>
    {% elif setting["type"] == "checkbox" %}
        <input type="checkbox" name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}" {% if setting["set_to"] %}checked{% endif %}>
    {% endif %}
<!-- <span style="margin-left: 10px; color: gray;">{{ setting["set_to"] }}</span> -->
<br>

{% endfor %}

<button type="submit">Save Configuration</button>
</form> 

{% endfor %}

<h2>Wi-Fi Configuration</h2>
<form id="wifi_form" action="{{ url_for('configure_wifi') }}" method="POST">
    <div id="current_ssid" style="margin-top: 10px; font-weight: bold;">Connected to: <span id="current_ssid">Loading...</span></div>
    
    <label for="ssid_input">SSID:</label>
    <input type="text" id="ssid_input" name="ssid" placeholder="Select or type SSID">

    <select id="wifi_dropdown">
        <option value="">-- Select a Network --</option>
    </select>

    <button type="button" id="refresh_wifi">🔄 Scan Wi-Fi</button>

    <br><br>
    <label for="wifi_password">Password:</label>
    <input type="password" id="wifi_password" name="password" placeholder="Enter Wi-Fi password">

    <br><br>
    <button type="submit">Save Wi-Fi Config</button>
</form>

{% endblock %}