{% extends "layout.html" %}

{% block title %} Settings {% endblock %}

{% block content %}

<h2> Settings </h2>

{% for panel, settings in panels.items() %}

<h3>{{ panel }} Panel</h3>

<form action="{{ url_for('settings') }}" method="POST">
<input type="hidden" name="panel_name" value="{{ panel }}">

{% for key, setting in settings.items() %}

<label for="{{ panel }}_{{ key }}">{{ setting["label"] }}:</label>
    {% if setting["type"] == "dropdown" %}
        <select name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}">
            {% for value in setting["values"] %}
                <option value="{{ value }}" {% if value == setting["set_to"] %}selected{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
    {% elif setting["type"] == "number" %}
        <input type="number" name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}" value="{{ setting["set_to"] }}">
    {% elif setting["type"] == "text" %}
        <input type="text" name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}" value="{{ setting["set_to"] }}">
    {% elif setting["type"] == "longtext" %}
        <textarea name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}" rows="3" cols="60">{{ setting["set_to"] }}</textarea>
    {% elif setting["type"] == "checkbox" %}
        <input type="checkbox" name="{{ panel }}_{{ key }}" id="{{ panel }}_{{ key }}" {% if setting["set_to"] %}checked{% endif %}>
    {% endif %}
<!-- <span style="margin-left: 10px; color: gray;">{{ setting["set_to"] }}</span> -->
<br>

{% endfor %}

<button type="submit">Save Configuration</button>
</form> 


{% endfor %}

{% endblock %}